@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #f7a325;
  --secondry-color: #0a2f35;
  --border-form-color: #916bbf;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  grid-template-columns: 17.43% 1fr;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  font-family: 'Cairo', sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 17.43% 1fr;
  height: 100%;
  width: 100%;
}

.nav-bar {
  background-color: var(--secondry-color);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  padding: none;
  width: 221px;
  margin-top: 50px;
}

.nav-bar ul li {
  display: block;
  position: relative;
  width: 83%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
  background-color: var(--secondry-color);
  margin: 20px 0;
  border-radius: 32px;
}

.head {
  height: 100px;
  width: 100%;
  background-color: var(--secondry-color);
  position: relative;
}

.head h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 100px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--white-color);
}

.head::after {
  content: '';
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 40px;
  border-radius: 5px;
}

ul li i {
  margin-right: 22px;
  color: var(--primary-color);
}

ul li a {
  color: var(--primary-color);
}

ul li:hover {
  background-color: var(--primary-color);
}

ul li:hover a {
  color: var(--white-color);
}

ul li:hover i {
  color: var(--white-color);
}

.white {
  color: var(--white-color);
}

#logout {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
}

.table-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 74.9%;
  margin: 100px;
  box-shadow: 0px 4px 14px 0px #00000040;
}

.container .table-head {
  width: 100%;
  height: 74px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdfd;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.container .table-content .table-head h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 21px;
  line-height: 100%;
  letter-spacing: 0;
}

.container .table-content .table-head .input-box {
  width: 410px;
  height: 42px;
  border-radius: 36px;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: none;
  padding: 0 10px;
}

.container .table-content .table-head .input-box i {
  display: block;
  width: 20px;
  height: 20px;
  color: #2A3042;
  font-size: 20px;
  line-height: 20px;
  margin-right: 8px;
}

.container .table-content .table-head input {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 36px;
  padding: 0 10px;
  font-size: 14px;
}

.container .table-content .table-head input:focus {
  outline: none;
}

.container .table-content .table-head input:focus::placeholder {
    color: transparent;
}

.container .table-content .table-head input::placeholder {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0;
  color: #2A3042;
}


.container .table-content table {
  width: 100%;
  border-collapse: collapse;
}

.container .table-content table thead {
  background-color: var(--secondry-color);
}

.container .table-content table th,
.container .table-content table td {
  height: 54px;
  padding: 8px;
  text-align: center;
}

.container .table-content table tr {
  border-bottom: 1px solid #ddd;
}

.Id {
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0;
  color: #575757;
}

.name {
  font-family: Poppins;
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0;
  color: #575757;
}

.remove i {
  color: var(--primary-color);
}

.table-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.table-footer p {
  margin: 30px;
  font-family: Inter;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 5;
  color: #575757;
}

.table-footer .lt-gt {
  margin-left: 30px;
  margin-right: 20px;
}

.table-footer .lt-gt span:nth-of-type(1) {
  margin-right: 40px;
}
