@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
  --primary-color: #f7a325;
  --secondry-color: #0a2f35;
  --dark-color: #191720;
  --white-color: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  width: 75.8%;
  margin: 60px auto 80px auto;
}

header img {
  width: 127px;
  height: 68px;
}

header .links ul {
  display: flex;
  justify-content: space-around;
}

header .links ul li a {
  display: block;
  margin: 0 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0;
  color: var(--dark-color);
  cursor: pointer;
}

#login,
#register {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-right: 10px;
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
}
#login {
  background-color: var(--white-color);
  border: none;
}

#register {
  color: var(--white-color);
  background-color: var(--primary-color);
  height: 56px;
  width: 115px;
  border: none;
  border-radius: 36px;
}

@media (max-width: 1000px) {
  header {
    width: 100%;
  }
}

.container-2 {
  width: 100%;
  max-width: 1601px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.track-content {
  width: 83.9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.track-content img {
  width: calc(699 / 1601 * 100%);
  max-width: 669px;
  height: 425px;
  border-radius: 33px;
}

.track-content .input-box {
  width: calc(590 / 1601 * 100%);
  max-width: 590px;
  height: 29.5%;
  max-height: 150px;
}

.track-content h3 {
  font-weight: 800;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.track-content h3 span {
  color: var(--primary-color);
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 590px;
}

.input-container input {
  width: 102%;
  height: 72px;
  border-radius: 15px;
  border: 5px solid #0A2F35;
}

.input-container .track-btn {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 115px;
  height: 56px;
  border-radius: 10px;
  padding: 0 15px;
  background-color: var(--primary-color);
  border: none;
  font-weight: 600;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
}

.input-container input::placeholder{
  font-family: Inter;
  font-weight: 400;
  font-size: 25px;
  line-height: 24.41px;
  letter-spacing: 0;
  padding: 20px;
  color: #000000BF;
}