@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --primary-color: #F7A325;
    --secondry-color: #0A2F35;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}

ul li{
    list-style: none;
}

a{
      text-decoration: none;
}

.login{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 600;
    color: #191720;
    background-color: white;
    border: none;
    cursor: pointer;
}


.signup{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 600;
    width: 115px;
    height: 56px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 36px;
    border: none;
    cursor: pointer;
}
